.achievements {
  display: grid;
  grid-template-columns: 15px 1fr 15px;
}
.achievements > .content {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1140px 1fr;
  padding: 80px 0;
  background-color: red;
  background-image: url(../../img/bg-counter.jpg);
  background-position: 50%;
}
.achievements > .content > .columns {
  background-color: blue;
  grid-column: 2/3;
}

@media (max-width: 1200px) {
  .achievements > .content {
    grid-template-columns: 1fr 940px 1fr;
  }
}

@media (max-width: 990px) {
  .achievements > .content {
    grid-template-columns: 1fr 720px 1fr;
  }
}

@media (max-width: 767px) {
  .achievements > .content {
    grid-template-columns: 1fr;
  }
  .achievements > .content > .columns {
    grid-column: 1/2;
  }
}
